* {
	font-family: Helvetica;
	padding: 0;
	margin: 0;
}

body {
	background: $light-grey;
}


/* Dev Styles */
#container {
	padding: 10px 0;
	background: $white;
	max-width: 950px;
	margin: 20px auto;
}

.dev {
	background: $dev;
}
.dev2 {
	background: blue;
}
















