$grid-gutter: 20px !default;
$grid-max-width: 1200px + ($grid-gutter * 2) !default;
$grid-columns: 12 !default;

$breakpoint-sm: 767px !default;
$breakpoint-md: 992px !default;
$breakpoint-lg: 1200px !default;

$breakpoints: (
  'lg' '(min-width: ' + $breakpoint-lg + ')',
  'md' '(min-width: ' + $breakpoint-md + ') and (max-width: ' + ($breakpoint-lg - 1) + ')',
  'sm' '(min-width: ' + ($breakpoint-sm + 1) + ') and (max-width:' + ($breakpoint-md - 1) + ')',
  'xs' '(max-width: ' + $breakpoint-sm + ')'
) !default;
















$white: #FFFFFF;
$grey: #d3d3d3;
$dark-grey: darken($grey, 90%);
$light-grey: lighten($grey, 10%);

$pink: #D55B3D;
$light-pink: lighten($pink, 10%);

$dev: $light-pink;



$blue: #78DFF1;
$light-blue: lighten($blue, 10%);


// Manufacturer Colors
$acura: #e82c2a;
$audi: #cd1f35;
$buick: #f26518;
$bmw: #1c69d4;
$cadillac: #9e1834;
$chevy: #f1b923;
$fiat: #b11636;
$ford: #2D96CD;
$gmc: #BC0A0F;
$honda: #2086c1;
$hyundai: #002D73;
$infiniti: #201d26;
$kia: #c4172c;
$lexus: #1a1a1a;
$lincoln: #231F1F;
$maserati: #0b2749;
$mazda: #df0000;
$mini: #ac2430;
$mb: #222222;
$mitsubishi: #ff0022;
$nissan: #c3002f;
$subaru: #20609F;
$toyota: #d71921;
$volvo: #003057;
$vw: #00B1EB;

$white: #FFFFFF;
$black: #000000;

$secondary:#00bae3;
$demo: #000021;	
$purple: #603a93;


// Hover States

$acuradarken: darken($acura,15%);
$audidarken: darken($audi,15%);
$bmwdarken: darken($bmw,15%);
$chevydarken: darken($chevy,15%);
$forddarken: darken($ford,15%);
$gmcdarken: darken($gmc,15%);
$hondadarken: darken($honda,15%);
$hyundaidarken: darken($hyundai,15%);
$infinitidarken: darken($infiniti,15%);
$kiadarken: darken($kia,15%);
$lexusdarken: darken($lexus,15%);
$lincolndarken: darken($lincoln,15%);
$maseratidarken: darken($maserati,15%);
$mazdadarken: darken($mazda,15%);
$mbdarken: darken($mb,15%);
$mitsubishidarken: darken($mitsubishi,15%);
$nissandarken: darken($nissan,15%);
$subarudarken: darken($subaru,15%);
$toyotadarken: darken($toyota,15%);
$volvodarken: darken($volvo,15%);
$vwdarken: darken($vw,15%);